* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.square {
    position: absolute;
    /* cursor: move; */
    height: 200px;
    width: 200px;
    border: 3px solid red;
    z-index: 1;
    resize: both;
    overflow: auto;
}

.draggable-icon {
    position: absolute;
    height: 15px;
    width: 15px;
    bottom: 0px;
    right: 0px;
    background-color: white;
}

.container {
    position: relative;
    height: 720;
    width: 1280;
}